.buy-now-button{
    border: none;
    background-color: black;
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
}
.car{
    margin-top: 50px;
    background-image: url(image/bg-1.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    
}
.see-all{
    color:#FFB228;
}
.card-title, .card-text, .card-price, .btn{
    text-align: center;
}
.card{
    border: none;
    margin-top: 30px;
    box-shadow: 5px 5px 15px rgb(223, 223, 223);
    border-radius: 10px;
    
}
.phone-card{
    margin-top: 130px;
}
.phone-card img{
    width: 320px;
    margin-top: 50px;
}
.carousel li{
    Background-color:#FFB228
   }
   .btn{
       margin-bottom: 50px;
   }
   .categories h3{
    margin-top: 180px;
    text-align: center;
   }
   .sq{
       margin-left: 538px;
   }
   .backpack{
    box-shadow: 5px 5px 15px rgb(223, 223, 223);
    height:200px;
    width: 200px;
    margin-top: 200px;
    padding-left: 35px;
       
   }
   .shoes{
    box-shadow: 5px 5px 15px rgb(223, 223, 223);
    height:200px;
    width:200px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-top: 35px;
   }
   .perfume{
    box-shadow: 5px 5px 15px rgb(223, 223, 223);
    height:200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 35px;
    padding-top: 35px;
   }
   .shoes img{
       width: 140px;
   }
   .ct{
       margin-top: 70px;
   }
   #contackus{
    height: 300px;
}
footer{
    text-align: center;
    margin-top: 100px;
}
.contactus{
    margin-top: 150px;
}